<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.borqs.digitalframe" >

    <application>
        <!--<activity-->
            <!--android:name="com.borqs.digitalframe.AlbumFolderActivity"-->
            <!--android:label="@string/app_name" >-->
        <!--</activity>-->

        <activity
            android:name="com.borqs.digitalframe.Setting"
            android:configChanges="keyboardHidden|screenSize"
            android:theme="@style/GalleryThemeNOActionBar"
            android:process=":remote">
            <intent-filter >
                <action android:name="com.borqs.gallery.EditPhoto" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.borqs.digitalframe.AlbumFolderActivity"
            android:theme="@style/GalleryThemeNOActionBar"
            android:label="@string/app_name" >
        </activity>

    </application>

</manifest>
