<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.borqs.digitalframe"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />

    <application>
        <service android:name="com.borqs.digitalframe.Setting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.example.testfetchpicture7.StartService"/>
            </intent-filter>
        </service>
        <service android:name="com.borqs.digitalframe.AlbumShowService"/>
        <activity
            android:name="com.borqs.digitalframe.AlbumFolderActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="com.borqs.digitalframe.Photos"/>
        <activity android:name="com.borqs.digitalframe.PhotoSelectedActivity"/>
    </application>

</manifest>
